<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<h1>, initial-scale=1.0">
        <title>Document</title>
    </head>
    <style>
        .button{
            margin-top: 2em;
            
        }

        .ab{
            margin-right: 5px;
            background-color: black;
            border: 1px blue solid;
            font-size: 25px;
            text-decoration: none;
            color: white;
            padding: 0.2em;
        }
        button{
            margin: 1em;
        }
        .box{
            border: 1px solid black;
        }
    </style>
    <body>
        <ul class="box">
            <% usuario.forEach(function(user){ %>
                <li class="box">
                    <strong><%= user.Nome %></strong>
                    <strong><%= user.Sobrenome %></strong>

                    <form action="/del" method="POST">
                        <input type="hidden" name="id" value="<%= user._id %>">
                        <button type="submit" class="btn btn-danger mt-3"> Deletar categoria</button>
                </li>
            <% }); %>
        </ul>
        
        
        <div class="button">

            <a class="ab" href="/">Create</a>
            <a class="ab" href="/ler">  Read  </a>
            <a class="ab" href="#" id="one">  Uptade  </a>
            <a class="ab" href="/deletar">  Delete</a>
        </div>
    </body>

    <script>
        var a = document.getElementById("one")

        a.addEventListener("click", ()=>{
            alert("Clique em um dos botões mudar")
        })
    </script>
</html>