<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    button{
        margin: 1em;
    }
    .box{
        border: 1px solid black;
    }
</style>
<body>
    <ul class="box">
        <% usuario.forEach(function(user){ %>
            <li class="box">

                <form action="/edit" method="POST">
                    <input type="hidden" name="id" value="<%= user._id %>">
                    <input  name="Nome" value="<%= user.Nome %>">
                    <input  name="Sobrenome" value="<%= user.Sobrenome %>">
                    <button type="submit" class="btn btn-danger mt-3"> Mudar</button>
            </li>
        <% }); %>
    </ul>


    <a href="/criar">Create</a>
    <a href="/ler">  Read  </a>
    <a href="/mudar">  Uptade  </a>
    <a href="/deletar">  Delete</a>
</body>

<script>
    
</script>
</html>